@font-face {
  font-family: Karla;
  src: url(../../Assets/Fonts/Karla-Regular.ttf);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  font-family: Karla;
  background-image: url("../../assets/images/space.gif");
  color: #50fa7b;
}

#emailField {
  height: 20px;
  margin-top: 10px;
  font-family: Karla;
  border-radius: 10px;
  border: 2px solid #50fa7b;
  padding-left: 10px;
  color: white;
  background-color: #44475a;
}

#passwordField {
  height: 20px;
  margin-top: 10px;
  font-family: Karla;
  margin-left: 50px;
  border-radius: 10px;
  border: 2px solid #50fa7b;
  padding-left: 10px;
  color: white;
  background-color: #44475a;
}

#showButton {
  border: 2px solid #50fa7b;
  border-radius: 15px;
  background-color: #44475a;
  color: white;
  font-family: Karla;
  font-size: 10px;
}

#loginButton {
  height: 30px;
  width: 60px;
  background-color: rgb(53, 53, 53);
  border-radius: 7px;
  border: 2px solid #50fa79; 
  padding-left: 5px;
  color: white;
  font: 8pt Karla;
  margin-top: 10px;
}

#clicklink {
  background-color: transparent;
  color: #9feaf9;
  display: inline-block;
  border-width: 0px;
  margin-top: 10px;
  font-family: Karla;
}