.background {
    background-image: url('../../images/space.gif');
}


label {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding-left: 2px;
}

form {
    padding: 20px;
    margin-left: 8%;
    width: 400px;
    height: 100%;
    margin-top: 102.75px;
    background-color: rgb(60, 62, 79);
    border-radius: 25px;
}

#loginButton {
    background-color: rgb(189, 147, 249);
    border-color: black;
    width: 35%;
    height: 36.5px;
}

#registerLink {
    color: rgb(255, 184, 108);
}

#Login {
    font-family: sans-serif;
    font-size: 27px;
    color: rgb(255, 184, 108);
    text-align: center;
    padding-top: 12px;
}